/* styles/components/hero.css */
.hero {
  padding: 4rem 2rem 4rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background: linear-gradient(to bottom right, var(--blue-1), var(--blue-2)); */
}

.hero__content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.profil__img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 150px var(--shadow-color);
}

img.pattern-ratture {
  position: absolute;
  width: 150px;
  left: 5%;
  top: 18%;
  filter: brightness(0) saturate(100%) invert(48%) sepia(72%) saturate(1931%)
    hue-rotate(191deg) brightness(98%) contrast(101%);
}

img.pattern-fleches {
  width: 100px;
  position: absolute;
  top: 30%;
  right: 5%;
  transform: rotateX(180deg);
  filter: brightness(0) saturate(100%) invert(48%) sepia(72%) saturate(1931%)
    hue-rotate(191deg) brightness(98%) contrast(101%);
}

.hero__greeting {
  margin-bottom: 0;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.hero__hello {
  /* display: flex; */
  font-size: 1rem;
  color: var(--blue-9);
}

.hero__name {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-primary);
}

.hero__title {
  font-size: 4.3rem;
  color: var(--text-primary);
  margin: 0;
}

.hero__contact {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 0.3rem;
  flex-wrap: wrap;
}

.contact-item,
.contact-item i {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-secondary);
  font-size: 1.1rem;
}

.hero__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.hero__cta {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.4rem;
  padding: 0.4rem 0.9rem;
  background: var(--blue-9);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-top: 0;
}

.hero__cta:hover,
.social__medias:hover {
  transform: translateY(-3px);
}

.social__medias i {
  color: var(--text-primary);
  font-size: 1.95rem;
}

img.pattern-fleche {
  width: 100px;
  position: absolute;
  left: 47%;
  bottom: -30%;
  filter: brightness(0) saturate(100%) invert(75%) sepia(12%) saturate(1000%)
    hue-rotate(190deg) brightness(110%) contrast(95%);
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding-top: 6rem;
  }

  .hero__name {
    font-size: 2rem;
  }

  .hero__title {
    font-size: 1.4rem;
  }

  .contact-item {
    font-size: 1rem;
    flex-basis: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 3rem 2rem 4rem;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profil__img {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 120px var(--shadow-color);
  }

  img.pattern-ratture {
    width: 80px;
    left: 0%;
    top: 0%;
  }

  img.pattern-fleches {
    width: 70px;
    top: 25%;
    right: -5%;
  }

  .hero__name {
    font-size: 1rem;
  }

  .hero__title {
    font-size: 2.3rem;
    margin: 15px 0px;
    line-height: 3rem;
  }

  .hero__contact {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
  }

  .contact-item,
  .contact-item i {
    line-height: .1rem;
    font-size: 1.1rem;
  }

  .hero__cta {
    width: 100%;
    justify-content: center;
  }

  .hero__btns {
    gap: 5px;
    margin-top: 40px;
  }

  img.pattern-fleche {
    width: 70px;
    left: 40%;
    bottom: -30%;
  }
}
