/* Reset moderne */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Space Grotesk", serif;
  line-height: 1.5;
  /* background-color: var(--background); */
  background: linear-gradient(to bottom right, var(--blue-1), var(--blue-2));
}

.section-title {
  font-size: 50px;
  color: var(--text-primary);
  opacity: 0.2;
  align-self: end;
  text-align: right;
  margin-top: 0;
}