/* Reset moderne */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Space Grotesk", serif;
  line-height: 1.5;
  background-color: var(--background);
}
